name: check_and_regenerate_v3

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *" # everyday at 7 AM

jobs:
  check_changes_and_create_pr:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      actions: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install yq
      run: |
        sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
        sudo chmod +x /usr/local/bin/yq

    - name: Check for changes
      id: check_changes
      run: |
        make pull-oapi-spec
        make generate
        git diff --quiet || echo "changes_detected=true" >> $GITHUB_OUTPUT

    - name: Create PR
      id: create_pr
      if: steps.check_changes.outputs.changes_detected
      uses: peter-evans/create-pull-request@v8
      with:
        title: "v3: regenerate from new API spec"
        body: "New changes have appeared in the API spec and egoscale v3 has been regenerated."
        branch: generate-v3
        delete-branch: true
        base: master
        author: "Exoscale <operation+build@exoscale.net>"
        committer: "Exoscale <operation+build@exoscale.net>"
    
    - name: Trigger CI checks on PR
      if: steps.check_changes.outputs.changes_detected && steps.create_pr.outputs.pull-request-number
      run: |
        git config user.name "Exoscale"
        git config user.email "operation+build@exoscale.net"
        git checkout generate-v3
        git commit --allow-empty -m "Trigger CI checks"
        git push origin generate-v3
      env:
        GH_TOKEN: ${{ github.token }}
